header {
	position: absolute;
	z-index: 1;
	position: sticky;
	display: flex;
	width: 100vw;
	justify-content: flex-end;
}
hr{
	border: 0;
	width: 0.4vw;
	background-color: #E0FFFF;
	height: 5vw;
	margin-top: 2vw;
	margin-right: calc(1vw + 0.4vw);
}
.Eng, .Ru, .Spa{
	background: none;
	border: none;
	color: #E0FFFF;
	margin: 2vw 2vw 0 0;
	font-family: 'Source', sans-serif;
	font-size: 4vw;
	outline: none;
	cursor: pointer;
}
.Eng:active, .Ru:active, .Spa:active{
	color: rgb(224, 224, 224);
}
@media screen and (min-width: 1000px){
	.Eng, .Ru, .Spa{
	font-size: 1.5vw;
	margin: 2vw 1vw 0 0;
	}
	hr{
	width: 0.2vw;
	background-color: #E0FFFF;
	height: 2vw;
	margin-top: 2vw;
	margin-right: calc(0.5vw + 0.4vw);
	}
}