html{
	overflow: hidden;
}
body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgb(0, 247, 255), rgb(100, 255, 131));
	font-family: 'Source', sans-serif;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.earth{
	position: absolute;
	width: 90vw;
	z-index: 0;
	animation: spin 190s infinite linear;
}
main{
	position: relative;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	overflow: hidden;
}
.title{
	z-index: 1;
	color: #E0FFFF;
	text-transform: uppercase;
	text-align: center;
	width: 90vw;
	font-size: 14.5vw;
	text-shadow: 1vw 2vw 5vw #000;
	font-family: 'Source', sans-serif;
	font-weight: 700;
	line-height: 12vw;
	margin: 15vw 0 2vw 0;
}
#timer{
	display: block;
	z-index: 1;
	color: #E0FFFF;
	font-size: 17vw;
	line-height: 13vw;
	margin-bottom: 1vw;
}
.TopQuote, .BottomQuote {
	z-index: 1;
	color: #E0FFFF;
	font-size: 6vw;
	line-height: 6vw;
}
.TopQuote{
	margin: 0 0 0 8vw;
	align-self: flex-start;
	text-shadow: 1vw 2vw 3vw #000;
}
.BottomQuote{
	margin: 0 10vw 2vw 0;
	align-self: flex-end;
	text-shadow: 1vw 2vw 3vw #000;
}
.invisible{
	display: none;
}
.BottomQuote_button{
	outline: none;
	position: relative;
	display: inline-block;
	color: #E0FFFF;
	overflow: hidden;
	background-color: #ac40f1;
	border-radius: 5vw;
	border: none;
	padding: 0.5vw 3vw;
	font-size: 7vw;
	cursor: pointer;
	box-shadow: 3vw 3vw 10vw #000;
}
.BottomQuote_button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
	filter: blur(2vw);
	width: 8vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateX(-3vw) skewX(-45deg);
  animation: move-light 2s infinite;
}
.autor{
	text-shadow: 1vw 2vw 4vw #000;
	z-index: 1;
	color: #E0FFFF;
	font-size: 4vw;
	align-self: flex-end;
	margin: 0 5vw 3vw 0;
}
.date{
	color: #E0FFFF;
	z-index: 1;
	font-size: 3vw;
	font-family: 'Source', sans-serif;
	word-spacing: 13vw;
}

@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes move-light{
  from{
    transform: translateX(-4em) skewX(-45deg)
  }
  to{
    transform: translateX(10em) skewX(-45deg)
  }
  to{
    transform: translateX(10em) skewX(-45deg)
  }
}
@media screen and (min-width: 760px) and (max-width: 999px) {
	.earth{
	width: 80vw;
	}
	.title{
		font-size: 15.5vw;
		margin: 30vw 0 2vw 0;
	}
} 
@media screen and (min-width: 1000px){
	.earth{
	width: 45vw;
	}
	.title{
		width: 75vw;
		text-shadow: 1vw 2vw 3vw #000;
		font-size: 11vw;
		margin: 3.5vw 0 1vw 0;
	}
	.BottomQuote{
		display: none;
	}
	.invisible{
		display: inline;
	}
	.TopQuote{
		margin: 0 0 1vw 0;
		text-shadow: 1vw 1vw 1vw #000;
		font-size: 3vw;
		align-self: center;
	}
	.BottomQuote_button{
		font-size: 3vw;
		padding: 0vw 2vw;
		line-height: 4vw;
		text-shadow: none;
		box-shadow: 1.5vw 1.5vw 5vw #000;
	}
	.autor{
		text-shadow: 1vw 1vw 1vw #000;
		font-size: 2vw;
		margin: 0 25vw 0vw 0;
	}
	#timer{
	font-size: 11vw;
	line-height: 13vw;
	margin-bottom: 0vw;
	text-shadow: 1vw 1vw 2vw #000;
	}
	.date{
	font-size: 2vw;
	line-height: 0vw;
	word-spacing: 8.5vw;
	text-shadow: 1vw 1vw 1vw #000;
	}
	body{
	background: linear-gradient(rgb(0, 247, 255), rgb(100, 255, 131));
	}
	.BottomQuote_button::before {
	filter: blur(1vw);
	width: 3vw;
	}
} 