footer{
	bottom: 0;
	position: relative;
	position: sticky;
	z-index: 1;
	font-family: 'Major Mono Display', monospace;
	padding-bottom: 0.5vw;
	font-size: 1vw;
	text-align: center;
	font-weight: 400;
	span{
		vertical-align: super;
		font-size: 1.2vw;
	}
}	