@import "cover.scss";
@import url('https://fonts.googleapis.com/css?family=Barrio|Londrina+Shadow|Major+Mono+Display|Sonsie+One&display=swap');
@import "footer.scss";
@import "header.scss";
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style-type: none;
}
body{
	background: url(../img/MainBG.min.png) center center no-repeat;
	min-height: 100vh;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}